<?xml version="1.0"?>
<!-- Robotiq 2F-85 gripper mounted on the UR tool flange. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_gripper">

  <xacro:arg name="tf_prefix" default="ur5e"/>
  <xacro:arg name="use_gazebo" default="true"/>

  <!-- UR flange adapter from robotiq_description -->
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:ur_to_robotiq
      prefix=""
      parent="$(arg tf_prefix)tool0"
      child="gripper_mount_link"
      rotation="${pi/2}"
      />

  <!-- 2F-85 kinematics and meshes. Upstream ros2_control is omitted because
       its sim_gazebo flag loads gz_ros2_control (Ignition). Classic Gazebo
       hardware is added below as gazebo_ros2_control/GazeboSystem. -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:robotiq_gripper
      name="robotiq_gripper"
      prefix=""
      parent="gripper_mount_link"
      include_ros2_control="false">
    <origin xyz="0 0 0" rpy="0 0 -${pi / 2}"/>
  </xacro:robotiq_gripper>

  <!-- Grasp frame used as the MoveIt tip. 0.148 m is about the 2F-85 palm-to-pad distance. -->
  <link name="gripper_tcp"/>
  <joint name="gripper_tcp_joint" type="fixed">
    <parent link="robotiq_85_base_link"/>
    <child link="gripper_tcp"/>
    <origin xyz="0 0 0.148" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo Classic hardware. robotiq_description's sim_gazebo flag loads
       gz_ros2_control (Ignition), which this workspace does not use. -->
  <ros2_control name="robotiq_gripper" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="robotiq_85_left_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="robotiq_85_right_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="robotiq_85_left_inner_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="robotiq_85_right_inner_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="robotiq_85_left_finger_tip_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="robotiq_85_right_finger_tip_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- Gazebo Classic appearance. Gravity is off so idle fingers do not sag. -->
  <xacro:if value="$(arg use_gazebo)">
    <xacro:macro name="robotiq_gazebo_link" params="link">
      <gazebo reference="${link}">
        <material>Gazebo/DarkGrey</material>
        <turnGravityOff>true</turnGravityOff>
      </gazebo>
    </xacro:macro>

    <xacro:robotiq_gazebo_link link="ur_to_robotiq_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_base_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_left_knuckle_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_right_knuckle_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_left_finger_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_right_finger_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_left_inner_knuckle_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_right_inner_knuckle_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_left_finger_tip_link"/>
    <xacro:robotiq_gazebo_link link="robotiq_85_right_finger_tip_link"/>
  </xacro:if>

</robot>
