<?xml version="1.0"?>
<!-- Wrist D405 camera mounted on the UR tool flange. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wrist_camera_mount">

            <xacro:arg name="tf_prefix" default="ur5e"/>
            <xacro:property name="tf_prefix" value="$(arg tf_prefix)"/>
            <xacro:arg name="use_gazebo" default="true"/>

            <xacro:include filename="$(find steve_simulation)/components/cameras/wrist_d405.urdf.xacro"/>
            <xacro:wrist_d405 parent="${tf_prefix}tool0" use_gazebo="$(arg use_gazebo)"/>

</robot>
